*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
display: flex;
justify-content: space-around;
align-items: center;
background-color: black;
min-height: 10vh;
}

.title{
font-size: 2rem;
color: white;
}

.input{
width: 20rem;
padding: 0.5rem;
border: none;
border-radius: 3rem;
background-color: white;
color: black;
}